.home-page-container {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-page-text {
    align-self: center;
    width: 500px;
    font-size: 20px;
    text-align: center;
}