.header {
    height: 100%;
    display: flex;
    flex-direction: column;
    color: midnightblue;
    align-items: flex-start;
    gap: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    z-index: 10;
}

.header-button-line {
    display: flex;
    flex-direction: row;
}

.header-headline {
    font-size: 30px;
    /*margin-top: 20px;*/
    font-size: 50px;
}

.header-headline,
.header-button-line {
    margin-left: 50px;
}