.header {
    background: linear-gradient(90deg, #181860, #050535);
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: flex-start;
    gap: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    min-height: 145px;
    z-index: 10;
}

.header-site-name {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-top: 40px;
    position: absolute;
    top: -20px;
    right: 10px;
    font-size: 70px;
    font-weight: bold;
    color: yellow;
}

.header-button-line,
.header-button-line-2 {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.header-button-line-2 {
    display: flex;
    align-items: center;
    position: absolute;
    top: -10px;
    left: -40px;
    margin-top: 95px;
    height: 70px;
}

.header-headline {
    margin-top: 20px;
    font-size: 40px;
    color: yellow;
}

.header-headline span {
    font-size: 50px;
    color: white;
}

.header-headline,
.header-button-line {
    margin-left: 20px;
}

.header-button {
    text-decoration: none;
    color: yellow;
    background-color: transparent;
    border: none;
    font-size: 20px;
}

.header-button:hover {
    cursor: pointer;
    color: white;
}

.display-none {
    display: none;
}

.header-icon {
    margin-top: 20px;
    margin-left: 40px;
    height: 90px;
}

.header-home-icon,
.header-home-icon-2 {
    height: 70px;
    width: 30px;
    margin-top: -5px;
    margin-left: 15px;
}

.header-home-icon-2 {
    margin-top: 0;
}

.header-logout-icon {
    margin-right: 5px;
}

.header-headline-container {
    position: absolute;
    top: 80px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header-home-link {
    margin: auto 0;
    text-decoration: none;
    color: yellow;
}

.header-login-link {
   text-align: end;
}
.header-plain-image {
    position: absolute;
    top: 35px;
    left: 80%;
    height: 150px;
}


