/*.vacation-item-container {*/
/*    border: 1px solid black;*/
/*    width: 200px;*/
/*    height: 300px;*/
/*    flex-shrink: 0;*/
/*}*/

.vacation-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: 200px;
    height: 300px;
    width: 200px;
    flex-shrink: 0;
    background-color: lightcoral;  /* debug color */
}

.vacation-item-button {
    width: 190px;
    height: 25px;
    margin-top: 5px;
}

.vacation-item-image-container {
    height: 100px;
    width: 100%;
}

.vacation-item-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.vacation-item-text {
    color: gray;
    height: 140px;
    width: 100%;
    background-color: white;
    padding: 10px;
    font-size: 12px;
    overflow: hidden;
}

.vacation-item-title{
    color: white;
    text-align: center;
    height: 25px;
    padding: 5px 0 ;
    background-color: blue;
    width: 100%;
}