.vacation-item-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    height: 360px;
    border-radius: 4px;
    flex-shrink: 0;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.vacation-item-button {
    width: 270px;
    height: 25px;
    margin-top: 5px;
    border-radius: 4px;
}

.vacation-item-image-container {
    height: 120px;
    width: 100%;
    background-color: lightcoral;
    border-radius: 4px 4px 0 0;
    overflow: hidden;
}


.vacation-item-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.vacation-item-text {
    color: gray;
    height: 180px;
    width: 100%;
    background-color: white;
    padding: 10px;
    font-size: 12px;
    overflow: hidden;
}

.vacation-item-dates {
    font-size: 12px;
    position: relative;
    color: gray;
    text-align: center;
    height: 25px;
    padding: 5px 0 ;
    background-color: lightblue;
    width: 100%;
}


.vacation-item-title {
    position: absolute;
    left: 10px;
    top: 95px;
    font-size: 20px;
    color: gray;
}

.vacation-item-likes-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 30px;
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 13px;
    height: 30px;
    width: 70px;
    padding: 10px 5px;
    background-color: lightgray;
    border: none;
    border-radius: 30px;
}

.vacation-item-svg {
    position: absolute;
    left: 20px;
    top: -2px;
    color: white;
    padding-right: 10px;
    width: 25px;
    height: 25px;
    viewBox: 0 0 24 24;
    fill: none;
    stroke: gray;
    stroke-width: 2;
}

.vacation-item-img {
    height: 100%;
    width: 100%;
}

   /*true or false*/

.vacation-item-isFollowing-true {
    background-color: pink;
    color: white;
    font-weight: bold;
}

.vacation-item-isFollowing-false {
    background-color: lightgray;
    color: black;
}