/*.vacation-list-container {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    gap: 16px;  !* spacing between items *!*/
/*}*/

.vacation-list-container {
    font-family: "Raleway", Arial, sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    background-color: transparent;
    padding: 40px;
}

.Vacation-list-checkbox-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}

.checkbox-label {
    display: flex;
    gap: 16px;
}