.sidebar-links{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.sidebar {
    height: 100%;
    /*border: 1px solid black;*/
}


a {
    text-decoration: none;
}