.pagination-page-number-button {
    padding: 10px;
    background-color: transparent;
    border: 2px solid darkblue;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

.pagination-page-number-button:hover {
    cursor: pointer;
    border: 2px solid #007bff;
    color: #007bff;
    font-weight: bold;
}

.pagination-page-number-button:active {
    background-color: lightblue;
    color: white;
}

.pagination-ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.pagination-li {
    /*background-color: transparent;*/
    /*color: darkblue;*/
    /*border: 2px solid darkblue;*/
    /*border-radius: 5px;*/
    /*padding: 10px;*/
    /*font-weight: bold;*/
}

.pagination-li:hover {

}

