* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

header {
    height: 15vh;
    width: 100%;
}

section {
    display: flex;
}

aside {
    width: 15vw;
    height: 100vh;
}

main {
    flex: 1;
    height: 100vh;
}

.Main {
    height: 200px;
    width: 150px;
    border: 1px solid black;
}