* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
    scrollbar-width: none;
    font-family: Arial, 'Montserrat', sans-serif;
}

html, body {
    height: 100%;
    overflow: hidden;
}

header {
    height: 20vh;
    width: 100%;
}

section {
    display: flex;
}

aside {
    width: 15vw;
    height: 80vh;
}

main {
    flex: 1;
    height: 100vh;     /* take full viewport height */
    overflow-y: auto;  /* enable vertical scroll */
}

/* GENERAL SETTINGS */

.general-button {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color:  #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.general-button:hover {
    background-color:  #0056b3;

}


/* FORM CSS */

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-headline {
    color: blue;
}

/* Shared style for inputs + button */
.form-element {
    width: 300px;           /* same width for everything */
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 8px;
    font-size: 16px;
    box-sizing: border-box;
}

/* Same height for inputs + button */
.form-headline,
.form-date,
.form button {
    height: 40px;
}

/* Taller textarea */
.form-add-content {
    height: 120px;
    resize: none; /* optional: prevents resizing */
}

/* Optional: nicer button */
.form-button {
    background-color: #007bff;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border: none;
    transition: 0.2s;
}

.form-button:hover {
    background-color: #0056b3;
}

.form-input-message {
    align-self: start;
    font-size: 14px;
    color: gray;
}

.form-bottom-message {
    align-self: center;
}

.form-link {
    color: blue;
}